<!DOCTYPE html>
<html>
<head>
  <title>Create New Post</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Create a New Blog Post</h1>

  <form action="/new" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="body">Content:</label><br>
    <textarea id="body" name="body" row="10" cols="50" required></textarea><br><br>

    <button type="submit">Publish</button>
  </form>

  <p><a href="/">Back to Blog Feed</a></p>
</body>
</html>
